.cls {
  background: #000;
  font-size: 16px;
  border: 10px solid salmon;
}

.clss {
  background-color: blue;
}

.clss12 {
  background-color: red;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}